# Working with JSON

In [1]:
import pandas as pd

In [2]:
pd.read_json('iris.json')

     sepalLength  sepalWidth  petalLength  petalWidth    species
0            5.1         3.5          1.4         0.2     setosa
1            4.9         3.0          1.4         0.2     setosa
2            4.7         3.2          1.3         0.2     setosa
3            4.6         3.1          1.5         0.2     setosa
4            5.0         3.6          1.4         0.2     setosa
..           ...         ...          ...         ...        ...
145          6.7         3.0          5.2         2.3  virginica
146          6.3         2.5          5.0         1.9  virginica
147          6.5         3.0          5.2         2.0  virginica
148          6.2         3.4          5.4         2.3  virginica
149          5.9         3.0          5.1         1.8  virginica

[150 rows x 5 columns]

## Reading json from URL

In [5]:
pd.read_json('http://www.floatrates.com/daily/usd.json')

,eur,gbp,jpy,aud,chf,cad,ssp,mru,mnt,brl,...,bbd,cdf,lsl,tzs,aed,idr,mxn,dzd,pab,fjd
code,EUR,GBP,JPY,AUD,CHF,CAD,SSP,MRU,MNT,BRL,...,BBD,CDF,LSL,TZS,AED,IDR,MXN,DZD,PAB,FJD
alphaCode,EUR,GBP,JPY,AUD,CHF,CAD,SSP,MRU,MNT,BRL,...,BBD,CDF,LSL,TZS,AED,IDR,MXN,DZD,PAB,FJD
numericCode,978,826,392,036,756,124,728,929,496,986,...,052,976,426,834,784,360,484,012,590,242
name,Euro,U.K. Pound Sterling,Japanese Yen,Australian Dollar,Swiss Franc,Canadian Dollar,South Sudanese pound,Mauritanian ouguiya,Mongolian togrog,Brazilian Real,...,Barbadian Dollar,Congolese franc,Lesotho loti,Tanzanian shilling,U.A.E Dirham,Indonesian Rupiah,Mexican Peso,Algerian Dinar,Panamanian Balboa,Fiji Dollar
rate,0.919979,0.790331,144.588306,1.507441,0.899355,1.325552,987.638288,34.860781,3480.169492,4.842122,...,2.036196,2382.018561,18.768739,2435.705813,3.675304,15042.646345,17.094059,135.548457,1.004261,2.251179
date,"Fri, 30 Jun 2023 23:55:01 GMT","Fri, 30 Jun 2023 23:55:01 GMT","Fri, 30 Jun 2023 23:55:01 GMT","Fri, 30 Jun 2023 23:55:01 GMT","Fri, 30 Jun 2023 23:55:01 GMT","Fri, 30 Jun 2023 23:55:01 GMT","Fri, 30 Jun 2023 23:55:01 GMT","Fri, 30 Jun 2023 23:55:01 GMT","Fri, 30 Jun 2023 23:55:01 GMT","Fri, 30 Jun 2023 23:55:01 GMT",...,"Fri, 30 Jun 2023 23:55:01 GMT","Fri, 30 Jun 2023 23:55:01 GMT","Fri, 30 Jun 2023 23:55:01 GMT","Fri, 30 Jun 2023 23:55:01 GMT","Fri, 30 Jun 2023 23:55:01 GMT","Fri, 30 Jun 2023 23:55:01 GMT","Fri, 30 Jun 2023 23:55:01 GMT","Fri, 30 Jun 2023 23:55:01 GMT","Fri, 30 Jun 2023 23:55:01 GMT","Fri, 30 Jun 2023 23:55:01 GMT"
inverseRate,1.086981,1.265293,0.006916,0.663376,1.111907,0.754403,0.001013,0.028686,0.000287,0.206521,...,0.491112,0.00042,0.05328,0.000411,0.272086,0.000066,0.0585,0.007377,0.995757,0.444212

# Working with SQL Data

In [7]:
import mysql.connector
conn = mysql.connector.connect(host = 'localhost', user = 'root', password = '', database = 'world')

In [12]:
data = pd.read_sql_query('SELECT * FROM countries', conn)

C:\Users\faisa\AppData\Local\Temp\ipykernel_5736\1593806832.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql_query('SELECT * FROM countries', conn)

In [14]:
data

,id,name,iso3,iso2,phonecode,capital,currency,currency_symbol,tld,native,...,timezones,translations,latitude,longitude,emoji,emojiU,created_at,updated_at,flag,wikiDataId
0,1,Afghanistan,AFG,AF,93,Kabul,AFN,؋,.af,افغانستان,...,"[{""zoneName"":""Asia\/Kabul"",""gmtOffset"":16200,""...","{""kr"":""아프가니스탄"",""br"":""Afeganistão"",""pt"":""Afegan...",33.000000,65.000000,??,U+1F1E6 U+1F1EB,2018-07-21 01:11:03,2021-07-17 20:01:29,1,Q889
1,2,Aland Islands,ALA,AX,+358-18,Mariehamn,EUR,€,.ax,Åland,...,"[{""zoneName"":""Europe\/Mariehamn"",""gmtOffset"":7...","{""kr"":""올란드 제도"",""br"":""Ilhas de Aland"",""pt"":""Ilh...",60.116667,19.900000,??,U+1F1E6 U+1F1FD,2018-07-21 01:11:03,2021-07-17 20:01:29,1,None
2,3,Albania,ALB,AL,355,Tirana,ALL,Lek,.al,Shqipëria,...,"[{""zoneName"":""Europe\/Tirane"",""gmtOffset"":3600...","{""kr"":""알바니아"",""br"":""Albânia"",""pt"":""Albânia"",""nl...",41.000000,20.000000,??,U+1F1E6 U+1F1F1,2018-07-21 01:11:03,2021-07-17 20:01:29,1,Q222
3,4,Algeria,DZA,DZ,213,Algiers,DZD,دج,.dz,الجزائر,...,"[{""zoneName"":""Africa\/Algiers"",""gmtOffset"":360...","{""kr"":""알제리"",""br"":""Argélia"",""pt"":""Argélia"",""nl""...",28.000000,3.000000,??,U+1F1E9 U+1F1FF,2018-07-21 01:11:03,2021-07-17 20:01:29,1,Q262
4,5,American Samoa,ASM,AS,+1-684,Pago Pago,USD,$,.as,American Samoa,...,"[{""zoneName"":""Pacific\/Pago_Pago"",""gmtOffset"":...","{""kr"":""아메리칸사모아"",""br"":""Samoa Americana"",""pt"":""S...",-14.333333,-170.000000,??,U+1F1E6 U+1F1F8,2018-07-21 01:11:03,2021-07-17 20:01:29,1,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,246,Zambia,ZMB,ZM,260,Lusaka,ZMW,ZK,.zm,Zambia,...,"[{""zoneName"":""Africa\/Lusaka"",""gmtOffset"":7200...","{""kr"":""잠비아"",""br"":""Zâmbia"",""pt"":""Zâmbia"",""nl"":""...",-15.000000,30.000000,??,U+1F1FF U+1F1F2,2018-07-21 01:11:03,2021-07-17 20:01:29,1,Q953
246,247,Zimbabwe,ZWE,ZW,263,Harare,ZWL,$,.zw,Zimbabwe,...,"[{""zoneName"":""Africa\/Harare"",""gmtOffset"":7200...","{""kr"":""짐바브웨"",""br"":""Zimbabwe"",""pt"":""Zimbabué"",""...",-20.000000,30.000000,??,U+1F1FF U+1F1FC,2018-07-21 01:11:03,2021-07-17 20:01:29,1,Q954
247,248,Kosovo,XKX,XK,383,Pristina,EUR,€,.xk,Republika e Kosovës,...,"[{""zoneName"":""Europe\/Belgrade"",""gmtOffset"":36...","{""kr"":""코소보"",""cn"":""科索沃""}",42.561291,20.340304,??,U+1F1FD U+1F1F0,2020-08-15 20:33:50,2021-07-17 20:01:29,1,Q1246
248,249,Curaçao,CUW,CW,599,Willemstad,ANG,ƒ,.cw,Curaçao,...,"[{""zoneName"":""America\/Curacao"",""gmtOffset"":-1...","{""kr"":""퀴라소"",""br"":""Curaçao"",""pt"":""Curaçao"",""nl""...",12.116667,-68.933333,??,U+1F1E8 U+1F1FC,2020-10-25 19:54:20,2021-07-17 20:01:29,1,Q25279
249,250,Sint Maarten (Dutch part),SXM,SX,1721,Philipsburg,ANG,ƒ,.sx,Sint Maarten,...,"[{""zoneName"":""America\/Anguilla"",""gmtOffset"":-...","{""kr"":""신트마르턴"",""br"":""Sint Maarten"",""pt"":""São Ma...",18.033333,-63.050000,??,U+1F1F8 U+1F1FD,2020-12-05 18:03:39,2021-07-17 20:01:29,1,Q26273